h1 {
    color: green;
    align-items: center;
   font-family:Arial, Helvetica, sans-serif;
   font-size: 50px;
}
li {
    color: green;
    align-items: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
p {
    color: green;
    align-items: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
h2 {
    color: green;
    align-items: center;
   font-family:Arial, Helvetica, sans-serif;
   font-size: 40px;
}
body {
    background-color:cornflowerblue;
   }
